.chart-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-bar__inner {
  height: 100%;
  width: 100%;
  max-width: 0.9rem;
  /* min-width: ; */
  border: 1px solid #313131;
  border-radius: 12px;
  background-color: #7b80a3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar__fill {
  background-color: #00245d;
  width: 100%;
  transition: all 0.5s ease-out;
}

.chart-bar__label {
  font-weight: bold;
  font-size: 0.7rem;
  text-align: center;
}

.chart-bar__value {
  font-weight: bold;
  font-size: 0.7rem;
  text-align: center;
}
