@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap");

.name-heading {
  text-align: left;
  color: white;
}

.dashboard-logo {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.9rem;
  color: white;
  margin-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 20px;
  padding-bottom: 20px;
  border-left: 10px;
}

.expenses_ {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.expense_ {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}
