.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #bebebe;
  font-size: 18px;
}

.form,
.content {
  width: 50%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  text-align: center;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.login-btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 12px;
  background: #2289de;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn:hover {
  background: #57adf4;
  transform: scale(0.98);
}

.btn-block {
  width: 90%;
  margin-bottom: 20px;
}

h4 {
  color: white;
}

.login-form {
  width: 60%;
  /* justify-content: center; */
  display: flex;
  /* align-items: center; */
  display: inline-block;
}
