.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  color: white;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-expense__actions {
  text-align: right;
}

.add-btn {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #ffffff;
  background-color: #1d2738;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}
.cancel-btn {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #ffffff;
  background-color: #1d2738;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}
.cancel-btn:hover,
.cancel-btn:active {
  background-color: #0379b4;
  border-color: white;
}

.add-btn:hover,
.add-btn:active {
  background-color: #0379b4;
  border-color: white;
}

/* .expense_form_ {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 34%,
    rgba(0, 212, 255, 1) 100%
  );
} */
